- var border = ""
 //- 生成一个随机的id
- var randomid = function(){
-    var chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
-　　var maxPos = chars.length;
-　　var pwd = '';
-　　for (i = 0; i < 32; i++) {
-　　　　pwd += chars.charAt(Math.floor(Math.random() * maxPos));
-　　}
-　　return pwd;
- }
//- 判断获取值的结果，渲染到前端
- var getvalue = function(data){
-   if(data == undefined || data == "null"){
-        return "<p></p>";
-   }else if (data.length > 20) {
-       var id = randomid();
-       border += addborder(data,id);
-       return "<button data-id="+id+">点击小黑板看详细内容</button>";
-   }else{
-        return "<p>"+data+"</p>";
-   }
- }
//- 添加到popup上
- var addborder = function(data,id){
-    var html = "<div id="+id+" class='bodercast'><div class='box'><div class='close'><a>x</a></div><div class='content'><pre>"+ data +"</pre></div></div></div>";
-    return html;
- }


doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible",content="IE=Edge,chrome=1")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        title= title
        link(rel='stylesheet', href='/stylesheets/analyze.css')
    body
        .head
            h1
                | 统计结果
        .border
            .content
                h1
                    | 村镇信息
                table
                    tbody
                        tr
                            td
                                p
                                    strong
                                        | 名字
                            td
                                p
                                    strong
                                        | 值
                            td
                                p
                                    strong
                                        | 分数
                            td
                                p
                                    strong
                                        | 数目
                            td
                                p
                                    strong
                                        | 匹配
                            td
                                p
                                    strong
                                        | judgeOutput
                            td
                                p
                                    strong
                                        | judgeOutput 
                    each cz in cunzhen
                        tr
                            td
                                !{getvalue(cz.namezh)}
                            td
                                !{getvalue(cz.value)}
                            td
                                !{getvalue(cz.score)}
                            td
                                !{getvalue(cz.number)}
                            td
                                !{getvalue(cz.match)}
                            td
                                !{getvalue(cz.judgeOutput)}
                            td
                                !{getvalue(cz.judgeReference)}

                h1
                    | 标志性构筑物
                table
                    tbody
                        tr
                            td
                                p
                                    strong
                                        | 名字
                            td
                                p
                                    strong
                                        | 值
                            td
                                p
                                    strong
                                        | 分数
                            td
                                p
                                    strong
                                        | 数目
                            td
                                p
                                    strong
                                        | 匹配
                            td
                                p
                                    strong
                                        | judgeOutput
                            td
                                p
                                    strong
                                        | judgeOutput 
                    each bzxgzw in biaozhixinggouzhuwu
                        tr
                            td
                                !{getvalue(bzxgzw.namezh)}
                            td
                                !{getvalue(bzxgzw.value)}
                            td
                                !{getvalue(bzxgzw.score)}
                            td
                                !{getvalue(bzxgzw.number)}
                            td
                                !{getvalue(bzxgzw.match)}
                            td
                                !{getvalue(bzxgzw.judgeOutput)}
                            td
                                !{getvalue(bzxgzw.judgeReference)}
                h1
                    | 街道空间
                table
                    tbody
                        tr
                            td
                                p
                                    strong
                                        | 名字
                            td
                                p
                                    strong
                                        | 值
                            td
                                p
                                    strong
                                        | 分数
                            td
                                p
                                    strong
                                        | 数目
                            td
                                p
                                    strong
                                        | 匹配
                            td
                                p
                                    strong
                                        | judgeOutput
                            td
                                p
                                    strong
                                        | judgeOutput 
                    each jdkj in jiedaokongjian
                        tr
                            td
                                !{getvalue(jdkj.namezh)}
                            td
                                !{getvalue(jdkj.value)}
                            td
                                !{getvalue(jdkj.score)}
                            td
                                !{getvalue(jdkj.number)}
                            td
                                !{getvalue(jdkj.match)}
                            td
                                !{getvalue(jdkj.judgeOutput)}
                            td
                                !{getvalue(jdkj.judgeReference)}
                h1
                    | 开敞空间
                table
                    tbody
                        tr
                            td
                                p
                                    strong
                                        | 名字
                            td
                                p
                                    strong
                                        | 值
                            td
                                p
                                    strong
                                        | 分数
                            td
                                p
                                    strong
                                        | 数目
                            td
                                p
                                    strong
                                        | 匹配
                            td
                                p
                                    strong
                                        | judgeOutput
                            td
                                p
                                    strong
                                        | judgeOutput 
                    each kckj in kaichangkongjian
                        tr
                            td
                                !{getvalue(kckj.namezh)}
                            td
                                !{getvalue(kckj.value)}
                            td
                                !{getvalue(kckj.score)}
                            td
                                !{getvalue(kckj.number)}
                            td
                                !{getvalue(kckj.match)}
                            td
                                !{getvalue(kckj.judgeOutput)}
                            td
                                !{getvalue(kckj.judgeReference)}
                h1
                    | 庭院与建筑
                table
                    tbody
                        tr
                            td
                                p
                                    strong
                                        | 名字
                            td
                                p
                                    strong
                                        | 值
                            td
                                p
                                    strong
                                        | 分数
                            td
                                p
                                    strong
                                        | 数目
                            td
                                p
                                    strong
                                        | 匹配
                            td
                                p
                                    strong
                                        | judgeOutput
                            td
                                p
                                    strong
                                        | judgeOutput 
                    each tyyjz in tingyuanyujianzhu
                        tr
                            td
                                !{getvalue(tyyjz.namezh)}
                            td
                                !{getvalue(tyyjz.value)}
                            td
                                !{getvalue(tyyjz.score)}
                            td
                                !{getvalue(tyyjz.number)}
                            td
                                !{getvalue(tyyjz.match)}
                            td
                                !{getvalue(tyyjz.judgeOutput)}
                            td
                                !{getvalue(tyyjz.judgeReference)}

        !{border}

        script(src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js")
        script.
            //- 对button按钮的监听
            var buttons = $('button');
            var bindevent = function(id,target){
                target.on('click',function(){
                    $("#"+id).css('display','block');
                    //- 关闭popup
                    $("#"+id+" .box .close a").on('click',function(){
                        $("#"+id).css('display','none');
                    });
                });
            }
            for(var i=0,L=buttons.length;i<L;i++){
                var target = $(buttons[i]);
                var id = target.data('id');
                bindevent(id,target);
            }
            

