- var border = ""
 //- 生成一个随机的id
- var randomid = function(){
-    var chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678';
-　　var maxPos = chars.length;
-　　var pwd = '';
-　　for (i = 0; i < 32; i++) {
-　　　　pwd += chars.charAt(Math.floor(Math.random() * maxPos));
-　　}
-　　return pwd;
- }
//- 判断获取值的结果，渲染到前端
- var getvalue = function(data){
-   if(!data){
-        return "<p></p>";
-   }else if (data.length > 20) {
-       var id = randomid();
-       border += addborder(data,id);
-       return "<button data-id="+id+">详细</button>";
-   }else{
-        if (typeof(data) === 'number'){
-            data = data.toFixed(2);
-        }
-        return "<p>"+data+"</p>";
-   }
- }
//- 添加到popup上
- var addborder = function(data,id){
-    var html = "<div id="+id+" class='bodercast'><div class='box'><div class='close'><a>x</a></div><div class='content'><pre>"+ data +"</pre></div></div></div>";
-    return html;
- }
- var getjundge = function(data){
-    if(!data && data != 0){
-       return "<p></p>"
-    }else if (data <= 1){
-       return "<p>很差</p>"
-    } else if (data >1 && data <=2){return "<p>较差</p>"} else if(data>2 && data <=3){return "<p>一般</p>"}else if (data >3 && data<=4){return "<p>良好</p>"} else if(data > 4 && data<=5){return "<p>优秀</p>"}
- }
- function getJsontotalnum(jsonData){
-   var totalnum = 0;
-   for(var item in jsonData){
-        totalnum += parseInt(jsonData[item]);
-   }
-   return totalnum;
- }
- function getJsonLength(jsonData){
-   var jsonLength = 0;
-   for(var item in jsonData){
-        jsonLength++;
-   }
-   return jsonLength;
- }
//- 获取百分比得到柱状图
- var getpercent = function(object,totalnum){
-   var html = "";
-   var rate = 0;
-   var target = getJsonLength(object);
-   var L = target;
-   for(var name in object){
-      if(L === 1) {
-           rate = (object[name]/totalnum).toFixed(4);
-           rate = (100*rate)+"%";
-           html = "<div class='colnum'><p class='ratename'>"+ name +" </p><div class='box'><div class='percent' style='width:"+ rate +"'></div></div><p class='ratevalue'> "+ rate +"</p><div style='clear:both'></div></div>";
-      }else{
-           totalnum = getJsontotalnum(object);
-           rate = (object[name]/totalnum).toFixed(4);
-           rate = (100*rate).toFixed(2) + "%";
-           html += "<div class='colnum'><p class='ratename'>"+ name +" </p><div class='box'><div class='percent' style='width:"+ rate +"'></div></div><p class='ratevalue'> "+ rate +"</p><div style='clear:both'></div>";
-      }    
-   } 
-   return html;
- }

doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible",content="IE=Edge,chrome=1")
        meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        title= title

        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/component/icono.min.css')
        link(rel="stylesheet", href="/stylesheets/component/chosen.css")
        link(rel='stylesheet', href='/stylesheets/component/bootstrap.min.css')
        link(rel='stylesheet', href="/stylesheets/component/bootstrap-responsive.min.css")
        link(rel='stylesheet', href="/stylesheets/component/matrix-style.css")
        link(rel='stylesheet', href="/stylesheets/component/matrix-media.css")
        link(rel='stylesheet', href='/stylesheets/analyze.css')
    body
        #header
            h1
                a(href="")
                    | 严寒地区不同基质村镇绿色建筑体系发展目标与应用数据库

        #user-nav.navbar.navbar-inverse
            ul.nav
                li
                    a(href="/welcome")
                        span.text
                            | 首页
                li
                    a(href="/input/view/index")
                        span.text
                            | 录入
                li
                    a(href="/statistics/analyze/1")
                        span.text
                            | 分析
                li
                    a(href="/guide")
                        span.text
                            | 使用指南

        #sidebar(style="OVERFLOW-Y: auto; OVERFLOW-X:hidden;")
            ul
                li.submenu.active
                    a.menu_a(href="#")
                        | 村镇分析
                        
        #content
            #content-header
                #breadcrumb
                    a.tip-bottom(href="#cunzhenxinxi",title="信息")
                        | 村镇信息
                    a.tip-bottom(href="#biaozhixinggouzhuwu",title="庭院")
                        | 标志性构筑物
                    a.tip-bottom(href="#jiedaokongjian",title="建筑")
                        | 街道空间
                    a.tip-bottom(href="#kaichangkongjian",title="建筑")
                        | 开敞空间
                    a.tip-bottom(href="#tingyuanyujianzhu",title="建筑")
                        | 庭院与建筑
            .list-body
                .border
                    .content
                        h1#cunzhenxinxi
                            | 村镇信息
                        table
                            tbody
                                tr
                                    td.percentcol
                                        p
                                            strong
                                                | 项
                                    td
                                        p
                                            strong
                                                | 值
                                    td
                                        p
                                            strong
                                                | 分数
                                    td
                                        p
                                            strong
                                                | 数目
                                    td
                                        p
                                            strong
                                                | 匹配
                                    td
                                        p
                                            strong
                                                | 评价结果
                                    td
                                        p
                                            strong
                                                | 建议
                            each cz in cunzhen
                                tr
                                    td.percentcol
                                        !{cz.namezh}
                                    td
                                        !{getvalue(cz.value)}
                                    td
                                        !{getvalue(cz.score/cz.number)}
                                    td
                                        !{getvalue(cz.number)}
                                    td
                                        !{getvalue(cz.match)}
                                    td
                                        !{getjundge(cz.score/cz.number)}
                                    td
                                        !{getvalue(cz.judgeReference)}

                        h1#biaozhixinggouzhuwu
                            | 标志性构筑物
                        table
                            tbody
                                tr
                                    td.percentcol
                                        p
                                            strong
                                                | 项
                                    td
                                        p
                                            strong
                                                | 值
                                    td
                                        p
                                            strong
                                                | 分数
                                    td
                                        p
                                            strong
                                                | 数目
                                    td
                                        p
                                            strong
                                                | 匹配
                                    td
                                        p
                                            strong
                                                | 评价结果
                                    td
                                        p
                                            strong
                                                | 建议
                                    td
                                        p
                                            strong
                                                | 比例
                            each bzxgzw in biaozhixinggouzhuwu
                                tr
                                    td.percentcol
                                        !{bzxgzw.namezh}
                                    td
                                        !{getvalue(bzxgzw.value)}
                                    td
                                        !{getvalue(bzxgzw.score/bzxgzw.number)}
                                    td
                                        !{getvalue(bzxgzw.number)}
                                    td
                                        !{getvalue(bzxgzw.match)}
                                    td
                                        !{getjundge(bzxgzw.score/bzxgzw.number)}
                                    td
                                        !{getvalue(bzxgzw.judgeReference)}
                                    td
                                        !{getpercent(bzxgzw.percent,biaozhixinggouzhuwunum)}
                        h1#jiedaokongjian
                            | 街道空间
                        table
                            tbody
                                tr
                                    td.percentcol
                                        p
                                            strong
                                                | 名字
                                    td
                                        p
                                            strong
                                                | 值
                                    td
                                        p
                                            strong
                                                | 分数
                                    td
                                        p
                                            strong
                                                | 数目
                                    td
                                        p
                                            strong
                                                | 匹配
                                    td
                                        p
                                            strong
                                                | 评价结果
                                    td
                                        p
                                            strong
                                                | 建议
                                    td
                                        p
                                            strong
                                                | 比例 
                            each jdkj in jiedaokongjian
                                tr
                                    td.percentcol
                                        !{jdkj.namezh}
                                    td
                                        !{getvalue(jdkj.value)}
                                    td
                                        !{getvalue(jdkj.score/jdkj.number)}
                                    td
                                        !{getvalue(jdkj.number)}
                                    td
                                        !{getvalue(jdkj.match)}
                                    td
                                        !{getjundge(jdkj.score/jdkj.number)}
                                    td
                                        !{getvalue(jdkj.judgeReference)}
                                    td
                                        !{getpercent(jdkj.percent,jiedaokongjiannum)}
                        h1#kaichangkongjian
                            | 开敞空间
                        table
                            tbody
                                tr
                                    td.percentcol
                                        p
                                            strong
                                                | 名字
                                    td
                                        p
                                            strong
                                                | 值
                                    td
                                        p
                                            strong
                                                | 分数
                                    td
                                        p
                                            strong
                                                | 数目
                                    td
                                        p
                                            strong
                                                | 匹配
                                    td
                                        p
                                            strong
                                                | 评价结果
                                    td
                                        p
                                            strong
                                                | 建议
                                    td
                                        p
                                            strong
                                                | 比例 
                            each kckj in kaichangkongjian
                                tr
                                    td.percentcol
                                        !{kckj.namezh}
                                    td
                                        !{getvalue(kckj.value)}
                                    td
                                        !{getvalue(kckj.score/kckj.number)}
                                    td
                                        !{getvalue(kckj.number)}
                                    td
                                        !{getvalue(kckj.match)}
                                    td
                                        !{getjundge(kckj.score/kckj.number)}
                                    td
                                        !{getvalue(kckj.judgeReference)}
                                    td
                                        !{getpercent(kckj.percent,kaichangkongjiannum)}
                        h1#tingyuanyujianzhu
                            | 庭院与建筑
                        table
                            tbody
                                tr
                                    td.percentcol
                                        p
                                            strong
                                                | 名字
                                    td
                                        p
                                            strong
                                                | 值
                                    td
                                        p
                                            strong
                                                | 分数
                                    td
                                        p
                                            strong
                                                | 数目
                                    td
                                        p
                                            strong
                                                | 匹配
                                    td
                                        p
                                            strong
                                                | 评价结果
                                    td
                                        p
                                            strong
                                                | 建议 
                                    td
                                        p
                                            strong
                                                | 比例
                            each tyyjz in tingyuanyujianzhu
                                tr
                                    td.percentcol
                                        !{tyyjz.namezh}
                                    td
                                        !{getvalue(tyyjz.value)}
                                    td
                                        !{getvalue(tyyjz.score/tyyjz.number)}
                                    td
                                        !{getvalue(tyyjz.number)}
                                    td
                                        !{getvalue(tyyjz.match)}
                                    td
                                        !{getjundge(tyyjz.score/tyyjz.number)}
                                    td
                                        !{getvalue(tyyjz.judgeReference)}
                                    td
                                        !{getpercent(tyyjz.percent,tingyuanyujianzhunum)}
        !{border}

        script(src="/script/excanvas.min.js")
        script(src="/script/jquery.min.js")
        script(src="/script/jquery.ui.custom.js")
        script(src="/script/bootstrap.min.js")
        script(src="/script/matrix.js")
        script(src="/script/analyze.js")
        script.
            //- 对button按钮的监听
            var buttons = $('button');
            var bindevent = function(id,target){
                target.on('click',function(){
                    $("#"+id).css('display','block');
                    //- 关闭popup
                    $("#"+id+" .box .close a").on('click',function(){
                        $("#"+id).css('display','none');
                    });
                });
            }
            for(var i=0,L=buttons.length;i<L;i++){
                var target = $(buttons[i]);
                var id = target.data('id');
                bindevent(id,target);
            }
            list = new List('cunzhen');
            list.init();
            $("#addform").on('click',function() {
                list.add();
            });
            //初始化相关元素高度
            function init(){
                $("body").height($(window).height()-80);
                $("#iframe-main").height($(window).height()-90);
                $("#sidebar").height($(window).height()-50);
            }
            $(function(){
                init();
                $(window).resize(function(){
                    init();
                });
            });
            // This function is called from the pop-up menus to transfer to
            // a different page. Ignore if the value returned is a null string:
            function goPage (newURL) {
                // if url is empty, skip the menu dividers and reset the menu selection to default
                if (newURL != "") {
                    // if url is "-", it is this page -- reset the menu:
                    if (newURL == "-" ) {
                        resetMenu();            
                    } 
                // else, send page to designated URL            
                else {  
                        document.location.href = newURL;
                    }
                }
            }
            // resets the menu selection upon entry to this page:
            function resetMenu() {
                document.gomenu.selector.selectedIndex = 2;
            }
            

